
.thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
}

.item-info {
    width: 100%;
    display: flex;
    justify-content: space-between
}

.card { 
    margin-bottom: 80px;
}